
*{
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}
.swiper{
  margin: 30px 7%;
}

.swiper-slide{
  margin-bottom: -4px;
}

.slide .slide_image img{
  width: 100%;
  height: 250px;
}

