.card_listname{
  padding: 30px;
  border: none;
  outline: none
}
.card_listname .heroHeading p{
  width: 100%;
  padding-top: 20px;
}

.card_listname .card_body-content{
  background-color: #f8a5c2;
}


/* celebrity media section */
.celebrity_media ul{
  border: none;
  outline: none;
}
.main_head_title {
  font-size: 28px;
  margin-top: 30px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;

}
.main_head_title:hover{
  background: none;
}

.main_head_title ul li a{
  color: red;
}
.main_head_title ul li a:hover{
  color: red;
  border: none;
  outline: none;
  
}
.celebrity_media .gtetry ul{
  padding: 0px 0%;
}
.celebrity_media .gtetry ul li{
  font-size: 21px;
}
.thrtghrt ul li{
  list-style-type: decimal;
}


/* media pages */
.tabs_section{
  background-color: crimson;
}
.tabs_section p{
  color: #ffff;
}
.tabs_section ul{
  border: none;
}
.tabs_section ul li{
  color: red;
  font-size: 33px;
  border: none;
  outline: none;
}
.tabs_section ul li:hover{
  display: block;
  border: none;
  outline: none;
}
.tabs_section ul li a.active{
  background: none;
}

#fill-tab-example ul li:hover{
  color: yellow;
  border: none;
  outline: none;

}



/* .celebrity_media  */

@media(max-width:768px){

.main_head_title {
  font-size: 18px;
  margin-top: 30px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}
.celebrity_media .gtetry ul li{
  font-size: 14px;
}


}
@media(max-width:500px){
  .main_head_title {
    font-size: 19px;
    display: flex;
    flex-direction: column;
  }
 
  .gtetry{

  }
  .gtetry ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

  }
  .gtetry ul li{
    font-size: 22px;
  }
.celebrity_media .gtetry ul li{
  font-size: 18px;
  border: none;
  outline: none;
  padding: 0%;
}
.celebrity_media .gtetry ul:hover{
  border: none;
  outline: none;
  padding: 0%;
}
}