.heroHeading {
  padding-top: 40px;
}
.heroHeading h1{
  text-transform: uppercase;
  text-align: center;
  font-size: 26px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #0a4158;
}
.heroHeading p{
  text-align: center;
  padding-bottom: 10px;
}
/* donateButton */

.donateButton{
  top: 50%;
  bottom: 40%;
  right: -5%;
  position: fixed;
  margin: 0%;
}
.donateButton button{
  transform: rotate(90deg);
  padding: 10px 40px;
  background-color: #ff5c3e;
  margin: 0%;
}
.donateButton button:hover{
  background-color: #ff5c3e;

}

/* @media (min-width:368px){
  .donateButton{
    top: 50%;
    bottom: 40%;
    right: -15%;
    position: fixed;
  } */
